<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".AnularReserva"
            android:exported="false" />
        <activity
            android:name=".VerReservasCliente"
            android:exported="false" />
        <activity
            android:name=".VerComidaReservada"
            android:exported="false" />
        <activity
            android:name=".VerReservas"
            android:exported="false" />
        <activity
            android:name=".reservarcomidaymesa"
            android:exported="false" />
        <activity
            android:name=".Prueba"
            android:exported="false" />
        <activity
            android:name=".Reservarmesaycomida"
            android:exported="false" />
        <activity
            android:name=".Reservarmesa"
            android:exported="false" />
        <activity
            android:name=".Editarcuenta"
            android:exported="false" />
        <activity
            android:name=".Buscarusuario"
            android:exported="false" />
        <activity
            android:name=".DarsedeBaja"
            android:exported="false" />
        <activity
            android:name=".EliminarUsuario"
            android:exported="false" />
        <activity
            android:name=".Dardealta"
            android:exported="false" />
        <activity
            android:name=".registrar"
            android:exported="false" />
        <activity
            android:name=".Pantalla_trasportista"
            android:exported="false" />
        <activity
            android:name=".Pantalla_cocinero"
            android:exported="false" />
        <activity
            android:name=".Pantalla_camarero"
            android:exported="false" />
        <activity
            android:name=".Pantalla_cliente"
            android:exported="false" />
        <activity
            android:name=".Pantalla_admin"
            android:exported="false" />
        <activity
            android:name=".iniciarsesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>